{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading"><h1 class="panel-title">Dens</h1></div>
    <div class="panel-body">
      <table class='table'> 
        <thead>
          <tr>
            <th>Scout</th>
            <th>Adventures</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for scout in object_list %}
            <tr>
              <td>
                <a href="{% url 'edit-scout' scout.pk %}">{{ scout.name }}</a>
              </td>
              <td>
              </td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-default" href="{% url 'edit-scout' scout.pk %}">Edit</a>
                  <a class="btn btn-default" href="{% url 'delete-scout' scout.pk %}">Delete</a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="btn-group" role="group" aria-label="actions">
        <a class="btn btn-primary" href="{% url 'new-scout' %}">
          <span class="glyphicon glyphicon-plus"></span>
          <span class="sr-only">Add Scout</span>
        </a>
      </div>
      {% if object_list %}
      {% else %}
        <span>Sorry, no Scouts yet.</span>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
